<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MiniSupControl"
            connectionString="Data Source=DESKTOP-4ECK98H\SQLEXPRESS;Initial Catalog=MiniSubControlDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <MiniSupControl.Properties.Settings>
            <setting name="MiniSubControlDb" serializeAs="String">
                <value>False</value>
            </setting>
        </MiniSupControl.Properties.Settings>
    </applicationSettings>
</configuration>