<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiniSupControl.Properties.Settings.MiniSubControlDb"
            connectionString="Data Source=DESKTOP-4ECK98H\SQLEXPRESS;Initial Catalog=MiniSubControlDb;Integrated Security=True"
            providerName="MiniSubControl" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>